
a::before{
transition: all 0.5S ease-in-out;
}
.html, .css, .js{
    width: 160px;
    height: 160px;
    position: relative;
}
.outer{
    width: 160px;
    height: 160px;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}
.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 120px;
    height: 120px;
    box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15), inset -4px -4px 10px -1px rgba(29, 29, 29, 0.199);
    border-radius: 50%;
}
.htmls, .CSS, .JS{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: html 0.4s linear forwards;
}
@keyframes html {
    100%{
        stroke-dashoffset: 81;
    }
}

.CSS{
    animation: css 0.4s linear forwards;
}
@keyframes css {
    100%{
        stroke-dashoffset: 112.5;
    }
}
.JS{
    animation: js 0.4s linear forwards;
}
@keyframes js {
    100%{
        stroke-dashoffset: 157.5;
    }
}
.